function onChange(e, ins) {
  var x = e.detail.x;
  var in_x = e.target.dataset.x;
  //console.log(111, )
  // e.target.dataset.x = '123'
  // console.log(JSON.stringify(e))
  // console.log(JSON.stringify(e.instance.getDataset()))
  // console.log(x)
  if (x >= 0) {
    ins.selectComponent('.block').setStyle({
      left: x - in_x + 'px',
    })
  }
}

function onEnd(e,ins){
  ins.selectComponent('.block').setStyle({
    left: '{{-x}}px',
  })
}
module.exports = {
  on: onChange,
  onEnd:onEnd
}